<nav class="navbar">
  <ul>
    <li><a href="#home"><b>Home</b></a></li>
    <li><a href="#about"><b>About</b></a></li>
    <li><a href="#projects"><b>Projects</b></a></li>
    <li><a href="#contact"><b>Contact</b></a></li>
  </ul>
</nav>
<style>
  .navbar {
    background-color: rgb(255,255,255); /* dark gray background */
    padding: 1em; /* add some padding */
    text-align: center; /* center the nav links */
  }

  .navbar ul {
    list-style: none; /* remove bullet points */
    margin: 0; /* remove margin */
    padding: 0; /* remove padding */
    display: flex; /* make the nav links horizontal */
    justify-content: space-between; /* space out the nav links */
  }

  .navbar li {
    margin-right: 20px; /* add some space between nav links */
  }

  .navbar a {
    color:rgb(0,0,0); /* white text color */
    text-decoration: none; /* remove underline */
  }

  .navbar a:hover {
    color: #3522ca; /* light gray text color on hover */
  }
</style>